.container{
    margin-bottom: 100px;
}

.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136f;
}

.btnn{
    background-image: linear-gradient(to bottom, #FF589B 0%,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}

.img1, .img2, .img3{
    padding: 10px 30px;
    border-radius: 10px;

}
.img1{
    background-color: yellow;
    background-image: linear-gradient(100deg,yellow,rgb(223, 73, 14));

}
.img2{
    background-color: purple;
    background-image: linear-gradient(rgb(185, 105, 185),magenta);
}
.img3{
    background-color: blue;
    background-image: linear-gradient(rgb(71, 71, 173), blue);
}
.catagories h1{
    color: cornsilk;

}
.catagories img{
    width: 150px;
}